.itemDetail{
  width: auto;
  height: auto;
  /* centrar vertical y horizontalmente */
  position: absolute;
}
.price{
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-weight: 500;
    font-size:large;
    padding-top: 5px;
}
.btn-success{
  text-decoration: none
}